body {
    width: 1200px;
    margin: auto;
}

header {
    background-color: black;
    margin: 1px;
    padding: 40px;
    background-color: rgb (80, 75, 75);
    text-align: center;
    color: white;

}
.main {
    position: relative;
}

header nav a {
    text-align: center;
    color: gray;
    font-size: large;
    margin: 0px 20px;
    padding: 5px;
    border-radius: 10px;
}

a:hover {
    color: white;
}

#skills {
    width: 400px;
    background-color: grey;
}

#person {
    width: 400px
}

video {
    width: 50%;
}

#homeland {
    width: 400px;
}

figure img {
    width: 100%;
}

#projects figure {
    padding: 0px;
    width: 350px;
    position: relative;
    float: left;
    margin: 15px;
}

h3 {
    clear: both;
}

#projects figure figcaption {
    position: absolute;
    background-color: grey;
    color: white;
    text-align: center;
    font-weight: lighter;
    padding:10px;
    bottom: 0px;
    left: 0px;
    right: 0px
}

#projects2 figure {
    padding: 0px;
    width: 350px;
    position: relative;
    float: left;
    margin: 15px;
}


#projects2 figure figcaption {
    position: absolute;
    background-color: grey;
    color: white;
    text-align: center;
    font-weight: lighter;
    padding:10px;
    bottom: 0px;
    left: 0px;
    right: 0px
}

main table {
    margin: 0px 150px;
    width: 896px;
    table-layout: fixed;
}

main table, td, th {
    border: 2px solid silver;
    border-collapse: collapse;
}

main table th, td {
    padding: 20px 10px;
}

main table th {
    text-align: left;
    background-color: gray;
}

main table tbody tr td:nth-child(2) {
    color: yellow;
    font-size: 1.5em;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

fieldset {
    width: 390px;
    padding: 8px;
    margin: 10px;
    border: 2px solid black;
    float: left;
}